<div class="container">
    <div class="row">
        <div class="col-md-3">
            <label><h4 class="mediaeval">Resistência:</h4></label>
        </div>
        <div class="col-md-3">
            <input type="number" placeholder="Resist." class="mediaeval ip_resist"/>
        </div>
        <div class="col-md-3">
            <input type="number" placeholder="F.Ataque" class="mediaeval ip_fAtaque"/>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <label><h4 class="mediaeval mid-cursor"><a class="rollResist mid-cursor" title="Rolar Teste de Resistência"><i class="fas fa-dice-d20"></i></a></h4></label>
        </div>
    </div>
    <div class="row" style="margin-top:10px;">
        <div class="col-md-6">
            <label><h4 class="mediaeval">Rolagem na tabela:</h4></label>
        </div>
        <div class="col-md-3">
            <input type="number" placeholder="Coluna" class="mediaeval ip_coluna"/>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <label><h4 class="mediaeval"><a class="rollTabela mid-cursor" title="Rolar direto na tabela"><i class="fas fa-dice-d20"></i></a></h4></label>
        </div>
    </div>
</div>